.HomePage {
  width: 75%;
  margin: 3rem auto;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  overflow: auto;
}
.error-message {
  color: #e50914;
  background-color: #1a1a1a;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 3px;
  border: 2px solid #e50914;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.cardBoard {
  position: relative;
}
.Love {
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 23px;
  z-index: 3;
  width: 30px;
  height: 30px;
  color: rgba(255, 255, 255, 0.298);
}
.Love :hover {
  transition: 0.2s;
  color: rgb(255, 255, 255);
}
